services:
  backend:
    build: ./backend
    ports:
      - "8080:8080"
    env_file:
      - .env.local
  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
